[submodule "registry-contracts/lib/forge-std"]
	path = registry-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.4.0
[submodule "registry-contracts/lib/openzeppelin-contracts"]
	path = registry-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "solana-programs/safe-harbor"]
	path = solana-programs/safe-harbor
	url = git@github.com:otter-sec/safe-harbor.git
