[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = ['@openzeppelin/contracts=lib/openzeppelin-contracts/contracts']

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[lint]
exclude_lints = ["mixed-case-variable"]
ignore = ["test/**/*"]

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
